/*图表J_indexChart*/
.coffers-chart-pop-ico, .coffers-charts .cc-item .cc-i-e-pin {background-image: url("../img/landmark.png");background-repeat: no-repeat;overflow: hidden;}
.coffers-chart-pop-bg {cursor: auto;font-family: Arial,"Microsoft Yahei","微软雅黑";height: 42px; position: absolute;transition: top 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;white-space: nowrap;width: 140px;}
.coffers-chart-pop {background-color: #fff;border: 1px solid #d8dce5;box-shadow: 0 2px 2px rgba(149, 156, 169, 0.25);color: #474e5d;font-size: 12px;line-height: 20px;padding: 10px 15px;}
.coffers-chart-pop .p-blue {color: #474e5d;font-weight: 700;}
.coffers-chart-pop p {text-align: center;}
.coffers-chart-pop .p-red {color: #ff6600;font-weight: normal;font-size: 14px;}
.coffers-chart-pop .p-grey1 {color: #a5a5a5;font-weight: 700;}
.coffers-chart-pop .p-grey2 {color: #5e5e5e;font-weight: 700;}
.coffers-chart-pop .p-grey3 {color: #323232;font-weight: 700;}
.coffers-chart-pop a {cursor: pointer;font-size: 14px;}
.coffers-chart-pop-ico {background-position: 0 0;bottom: -8px;height: 8px;left: 50%;margin-left: -5.5px;position: absolute;width: 11px;z-index: 2;}
.coffers-charts {height: 60px;padding-bottom: 20px; width: 910px;}
.coffers-charts .cc-tips {font-size: 12px; height: 40px;left: 0;line-height: 20px;padding-bottom: 30px;padding-top: 25px;position: absolute;text-align: center;top: 0;width: 100%;}
.coffers-charts .cc-tips a {color: #5b9fe2;}
.coffers-charts .cc-wrap {height: 100%;}
.coffers-charts .cc-item {float: left;height: 100%;margin-right: 34px;position: relative;width: 7px;}
.coffers-charts .cc-item.cc-item6 {margin-right: 0;}
.coffers-charts .cc-item em {background: #d8dde6;bottom: 0; display: block;height: 2%;left: 0;position: absolute;transition: height 0.3s ease-in-out 0s, background 0.15s ease-in-out 0s;width: 100%;}
.coffers-charts .cc-item .cc-i-emAdd {background: #ffc299;}
.coffers-charts .cc-item .cc-i-e-pin {background-position: 0 -11px;height: 11px;left: -1px;opacity: 0;position: absolute;top: -18px;visibility: hidden;width: 9px;}
.coffers-charts .cc-item .cc-i-e-pin--show {opacity: 1;top: -15px;visibility:hidden;}
.coffers-charts .cc-item span {bottom: -21px;color: #a5a5a5;font-size: 12px;left: 50%;line-height: 20px;margin-left: -23px;position: absolute;text-align: center;width: 46px;}
.coffers-charts .cc-item:hover em {background: #ced4e0 none repeat scroll 0 0;}
.coffers-charts .cc-item:hover .cc-i-emAdd {background: #ff6600 none repeat scroll 0 0;}
.coffers-charts .cc-item.item-yestday em {background: #ea544a none repeat scroll 0 0;}
.coffers-charts .cc-item:nth-of-type(1) em {transition: height 0.26s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(1) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.26s;}
.coffers-charts .cc-item:nth-of-type(2) em {transition: height 0.27s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(2) .cc-i-e-pin { transition: all 0.2s ease-in-out 0.27s;}
.coffers-charts .cc-item:nth-of-type(3) em {transition: height 0.28s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(3) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.28s;}
.coffers-charts .cc-item:nth-of-type(4) em {transition: height 0.29s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(4) .cc-i-e-pin { transition: all 0.2s ease-in-out 0.29s;}
.coffers-charts .cc-item:nth-of-type(5) em {transition: height 0.3s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(5) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.3s;}
.coffers-charts .cc-item:nth-of-type(6) em {transition: height 0.31s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(6) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.31s;}
.coffers-charts .cc-item:nth-of-type(7) em {transition: height 0.32s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(7) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.32s;}
.coffers-charts .cc-item:nth-of-type(8) em {transition: height 0.33s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(8) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.33s;}
.coffers-charts .cc-item:nth-of-type(9) em {transition: height 0.34s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(9) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.34s;}
.coffers-charts .cc-item:nth-of-type(10) em {transition: height 0.35s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(10) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.35s;}
.coffers-charts .cc-item:nth-of-type(11) em {transition: height 0.36s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(11) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.36s;}
.coffers-charts .cc-item:nth-of-type(12) em {transition: height 0.37s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(12) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.37s;}
.coffers-charts .cc-item:nth-of-type(13) em { transition: height 0.38s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(13) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.38s;}
.coffers-charts .cc-item:nth-of-type(14) em { transition: height 0.39s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(14) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.39s;}
.coffers-charts .cc-item:nth-of-type(15) em {transition: height 0.4s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(15) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.4s;}
.coffers-charts .cc-item:nth-of-type(16) em {transition: height 0.41s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(16) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.41s;}
.coffers-charts .cc-item:nth-of-type(17) em {transition: height 0.42s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(17) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.42s;}
.coffers-charts .cc-item:nth-of-type(18) em {transition: height 0.43s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(18) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.43s;}
.coffers-charts .cc-item:nth-of-type(19) em { transition: height 0.44s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(19) .cc-i-e-pin { transition: all 0.2s ease-in-out 0.44s;}
.coffers-charts .cc-item:nth-of-type(20) em {transition: height 0.45s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(20) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.45s;}
.coffers-charts .cc-item:nth-of-type(21) em {transition: height 0.46s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(21) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.46s;}
.coffers-charts .cc-item:nth-of-type(22) em {transition: height 0.47s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(22) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.47s;}
.coffers-charts .cc-item:nth-of-type(23) em {transition: height 0.48s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(23) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.48s;}
.coffers-charts .cc-item:nth-of-type(24) em { transition: height 0.49s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(24) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.49s;}
.coffers-charts .cc-item:nth-of-type(25) em {transition: height 0.5s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(25) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.5s;}
.coffers-charts .cc-item:nth-of-type(26) em {transition: height 0.51s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(26) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.51s;}
.coffers-charts .cc-item:nth-of-type(27) em { transition: height 0.52s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(27) .cc-i-e-pin { transition: all 0.2s ease-in-out 0.52s;}
.coffers-charts .cc-item:nth-of-type(28) em {transition: height 0.53s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(28) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.53s;}
.coffers-charts .cc-item:nth-of-type(29) em {transition: height 0.54s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(29) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.54s;}
.coffers-charts .cc-item:nth-of-type(30) em {transition: height 0.55s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(30) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.55s;}
.coffers-charts .cc-item:nth-of-type(31) em {transition: height 0.56s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(31) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.56s;}
.coffers-charts .cc-item:nth-of-type(32) em {transition: height 0.57s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(32) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.57s;}
.coffers-charts .cc-item:nth-of-type(33) em {transition: height 0.58s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(33) .cc-i-e-pin { transition: all 0.2s ease-in-out 0.58s;}
.coffers-charts .cc-item:nth-of-type(34) em {transition: height 0.59s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(34) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.59s;}
.coffers-charts .cc-item:nth-of-type(35) em {transition: height 0.6s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(35) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.6s;}
.coffers-charts .cc-item:nth-of-type(36) em {transition: height 0.61s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(36) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.61s;}
.coffers-charts .cc-item:nth-of-type(37) em {transition: height 0.62s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(37) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.62s;}
.coffers-charts .cc-item:nth-of-type(38) em {transition: height 0.63s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(38) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.63s;}
.coffers-charts .cc-item:nth-of-type(39) em {transition: height 0.64s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(39) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.64s;}
.coffers-charts .cc-item:nth-of-type(40) em {transition: height 0.65s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(40) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.65s;}
.coffers-charts .cc-item:nth-of-type(41) em {transition: height 0.66s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(41) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.66s;}
.coffers-charts .cc-item:nth-of-type(42) em {transition: height 0.67s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(42) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.67s;}
.coffers-charts .cc-item:nth-of-type(43) em { transition: height 0.68s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(43) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.68s;}
.coffers-charts .cc-item:nth-of-type(44) em { transition: height 0.69s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(44) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.69s;}
.coffers-charts .cc-item:nth-of-type(45) em {transition: height 0.7s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(45) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.7s;}
.coffers-charts .cc-item:nth-of-type(46) em { transition: height 0.71s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(46) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.71s;}
.coffers-charts .cc-item:nth-of-type(47) em {transition: height 0.72s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(47) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.72s;}
.coffers-charts .cc-item:nth-of-type(48) em {transition: height 0.73s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(48) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.73s;}
.coffers-charts .cc-item:nth-of-type(49) em {transition: height 0.74s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(49) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.74s;}
.coffers-charts .cc-item:nth-of-type(50) em { transition: height 0.75s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(50) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.75s;}
.coffers-charts .cc-item:nth-of-type(51) em {transition: height 0.76s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(51) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.76s;}
.coffers-charts .cc-item:nth-of-type(52) em { transition: height 0.77s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(52) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.77s;}
.coffers-charts .cc-item:nth-of-type(53) em {transition: height 0.78s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(53) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.78s;}
.coffers-charts .cc-item:nth-of-type(54) em {transition: height 0.79s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(54) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.79s;}
.coffers-charts .cc-item:nth-of-type(55) em {transition: height 0.8s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(55) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.8s;}
.coffers-charts .cc-item:nth-of-type(56) em {transition: height 0.81s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(56) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.81s;}
.coffers-charts .cc-item:nth-of-type(57) em { transition: height 0.82s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(57) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.82s;}
.coffers-charts .cc-item:nth-of-type(58) em { transition: height 0.83s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(58) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.83s;}
.coffers-charts .cc-item:nth-of-type(59) em {transition: height 0.84s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(59) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.84s;}
.coffers-charts .cc-item:nth-of-type(60) em {transition: height 0.85s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(60) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.85s;}
.coffers-charts .cc-item:nth-of-type(61) em {transition: height 0.86s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(61) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.86s;}
.coffers-charts .cc-item:nth-of-type(62) em {transition: height 0.87s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(62) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.87s;}
.coffers-charts .cc-item:nth-of-type(63) em {transition: height 0.88s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(63) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.88s;}
.coffers-charts .cc-item:nth-of-type(64) em {transition: height 0.89s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(64) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.89s;}
.coffers-charts .cc-item:nth-of-type(65) em {transition: height 0.9s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(65) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.9s;}
.coffers-charts .cc-item:nth-of-type(66) em {transition: height 0.91s ease-in-out 0s, background 0.15s ease-in-out 0s;}
.coffers-charts .cc-item:nth-of-type(66) .cc-i-e-pin {transition: all 0.2s ease-in-out 0.91s;}